@font-face {
  font-family: body-text;
  src: url(../fonts/Futura/Futura-Condensed/Futura\ Condensed.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: header-text;
  src: url(../fonts/Demo_Fonts/Fontspring-DEMO-integralcf-heavy.otf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: timer-text;
  src: url(../fonts/ttf/dseg7-classic-latin-300-normal.ttf);
  font-weight: normal;
  font-style: normal;
}

:root {
  /*Color*/
  --primary-color: #0c1445;
  --secondary-color: #000000;
  --accent-color: #f88158;
  --hover-color: #57cff7;
  --success-color: #4cbb17;
  --error-color: #ff0033;
  --white: #ffffff;
  --timer-color: red;
  --disabled-color: #c6c6c6;

  /*Font Size*/
  --font-size-heading: 2rem;
  --font-size-body: 1rem;
  --font-size-question: 1.5rem;
  --font-size-question-number: 1.25rem;
  --font-size-timer: 2.5rem;
  --font-size-multiple-choice: 1.5rem;

  /*Font Weight*/
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /*Spacing*/
  --spacing-small: 0.5rem;
  --spacing-medium: 1rem;
  --spacing-large: 1.5rem;
  --spacing-extra-large: 2.625rem;
}

body {
  background-color: var(--primary-color);
}

section {
  min-height: 100vh;
}

main .quiz-screen,
main .result-screen {
  display: none;
}

main .splash-screen.is-hidden {
  display: none;
}

main .quiz-screen.is-shown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main .result-screen.is-shown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main .quiz-screen.is-shown .quiz-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--spacing-medium);
  background-color: var(--white);
}

main .quiz-screen.is-shown .quiz-card .quiz-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main .quiz-screen.is-shown .quiz-card .quiz-controls span {
  text-align: center;
  padding: var(--spacing-small);
}

main .quiz-screen.is-shown .quiz-card .quiz-controls .question-counter {
  font-family: body-text;
  font-size: var(--font-size-question-number);
  font-weight: var(--font-weight-medium);
  color: var(--secondary-color);
}

main .quiz-screen.is-shown .quiz-card .quiz-controls .question-timer {
  font-family: timer-text;
  font-size: var(--font-size-timer);
  color: var(--timer-color);
  font-weight: var(--font-weight-bold);
}

main .quiz-screen.is-shown .question {
  padding: var(--spacing-small);
  color: var(--secondary-color);
  font-family: body-text;
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-question);
}

main .quiz-screen.is-shown .multiple-choice {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--spacing-medium);
  list-style: none;
}

main .quiz-screen.is-shown .multiple-choice .multiple-choice-list-item {
  padding: var(--spacing-small);
}

main
  .quiz-screen.is-shown
  .multiple-choice
  .multiple-choice-list-item
  .option-btn {
  padding: var(--spacing-small);
  background-color: var(--white);
  text-align: left;
  font-family: body-text;
  font-weight: var(--font-weight-medium);
  border: 1px solid var(--secondary-color);
  width: 100%;
  font-size: var(--font-size-multiple-choice);
  transition: all ease-in 0.3s;
}

main .quiz-screen.is-shown .next-btn {
  padding: var(--spacing-small);
  align-self: flex-start;
  background-color: var(--accent-color);
  color: var(--white);
  text-align: center;
  font-family: body-text;
  font-weight: var(--font-weight-bold);
  border: none;
  transition: all ease-in 0.3s;
}

main .quiz-screen.is-shown .next-btn.is-disabled {
  background-color: var(--disabled-color);
  opacity: 0.7;
}

main
  .quiz-screen.is-shown
  .multiple-choice
  .multiple-choice-list-item
  .option-btn.is-correct {
  background-color: var(--success-color);
  color: var(--white);
  font-weight: var(--font-weight-bold);
  border: none;
}

main
  .quiz-screen.is-shown
  .multiple-choice
  .multiple-choice-list-item
  .option-btn.is-wrong {
  background-color: var(--error-color);
  color: var(--white);
  font-weight: var(--font-weight-bold);
  border: none;
}

main
  .quiz-screen.is-shown
  .multiple-choice
  .multiple-choice-list-item
  .option-btn.is-correct-fallback {
  background-color: var(--success-color);
  color: var(--white);
  font-weight: var(--font-weight-bold);
  border: none;
}

main .result-screen .results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-medium);
  background-color: var(--white);
}

main .result-screen .results .final-results {
  font-family: header-text;
  padding: var(--spacing-small);
  text-align: center;
  color: var(--secondary-color);
  font-size: 20px;
}

main .result-screen .results .final-results .percent {
  font-family: body-header;
  font-size: var(--font-size-heading);
  text-align: center;
  color: var(--accent-color);
  font-weight: var(--font-weight-bold);
}

main .result-screen .results .result-message {
  font-family: body-text;
  font-size: 20px;
  padding: var(--spacing-small);
  text-align: center;
  color: var(--secondary-color);
}

main .result-screen .results .restart-quiz {
  padding: var(--spacing-small);
  background-color: var(--accent-color);
  color: var(--white);
  text-align: center;
  font-family: body-text;
  font-weight: var(--font-weight-bold);
  border: none;
  text-decoration: none;
  transition: all ease-in 0.3s;
  width: 123px;
  display: inline-block;
}

@media only screen and (max-width: 767px) {
  main .splash-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-large);
  }

  main .splash-screen img {
    width: 200px;
  }

  main .splash-screen .hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--spacing-medium);
  }

  main .splash-screen .hero-section h1 {
    font-family: header-text;
    padding: var(--spacing-small);
    text-align: center;
    color: var(--white);
    font-size: var(--font-size-heading);
  }

  main .splash-screen .hero-section p {
    font-family: body-text;
    font-size: var(--font-size-body);
    padding: var(--spacing-small);
    text-align: center;
    color: var(--white);
  }

  main .splash-screen .hero-section ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  main .splash-screen .hero-section ul li {
    padding: var(--spacing-small);
  }

  main .splash-screen .hero-section ul li button {
    padding: var(--spacing-small);
  }

  main .splash-screen .hero-section ul li .primary-cta {
    padding: var(--spacing-small);
    border: none;
    text-align: center;
    color: var(--white);
    font-size: var(--font-size-body);
    font-family: body-text;
    font-weight: var(--font-weight-bold);
    background-color: var(--accent-color);
    width: 123px;
  }

  main .splash-screen .hero-section ul li .secondary-cta {
    padding: var(--spacing-small);
    border: 2px solid var(--white);
    text-align: center;
    color: var(--white);
    font-size: var(--font-size-body);
    font-family: body-text;
    font-weight: var(--font-weight-bold);
    background-color: inherit;
    width: 123px;
  }
}

@media only screen and (min-width: 767px) {
  main .splash-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-large);
  }

  main .splash-screen img {
    width: 248px;
  }

  main .splash-screen .hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--spacing-medium);
  }

  main .splash-screen .hero-section h1 {
    font-family: header-text;
    padding: var(--spacing-small);
    text-align: center;
    color: var(--white);
    font-size: var(--font-size-heading);
  }

  main .splash-screen .hero-section p {
    font-family: body-text;
    font-size: var(--font-size-body);
    padding: var(--spacing-small);
    text-align: center;
    color: var(--white);
  }

  main .splash-screen .hero-section ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  main .splash-screen .hero-section ul li {
    padding: var(--spacing-small);
  }

  main .splash-screen .hero-section ul li button {
    padding: var(--spacing-small);
    transition: all ease-in 0.3s;
  }

  main .splash-screen .hero-section ul li .primary-cta {
    padding: var(--spacing-small);
    border: none;
    text-align: center;
    color: var(--white);
    font-size: var(--font-size-body);
    font-family: body-text;
    font-weight: var(--font-weight-bold);
    background-color: var(--accent-color);
    width: 123px;
  }

  main .splash-screen .hero-section ul li .secondary-cta {
    padding: var(--spacing-small);
    border: 2px solid var(--white);
    text-align: center;
    color: var(--white);
    font-size: var(--font-size-body);
    font-family: body-text;
    font-weight: var(--font-weight-bold);
    background-color: inherit;
    width: 123px;
  }
}

@media only screen and (min-width: 1000px) {
  main .splash-screen .hero-section ul li .primary-cta:hover {
    background-color: var(--hover-color);
    color: var(--secondary-color);
  }

  main .splash-screen .hero-section ul li .secondary-cta:hover {
    border: 2px solid var(--hover-color);
  }

  main
    .quiz-screen.is-shown
    .multiple-choice
    .multiple-choice-list-item
    .option-btn:hover:not([disabled]) {
    background-color: var(--hover-color);
    font-weight: var(--font-weight-bold);
  }
}
