@font-face {
  font-family: header;
  src: url(../fonts/Demo_Fonts/Fontspring-DEMO-integralcf-heavy.otf);
}

@font-face {
  font-family: body;
  src: url(../fonts/Futura/Futura-Condensed/Futura\ Condensed.ttf);
}

@font-face {
  font-family: question-number;
  src: url(../fonts/Futura/Futura-Medium/Futura\ Medium.otf);
}

@font-face {
  font-family: timer;
  src: url(../fonts/ttf/dseg7-classic-latin-400-normal.ttf);
}

:root {
  /*Color*/
  --primary-Color: #0c1445;
  --secondary-color: #000000;
  --accent-color: #f88158;
  --hover-color: #57cff7;
  --disabled-color: #c6c6c6;
  --correct-answer: #4cbb17;
  --wrong-answer: #ff0033;
  --general-color: #fff;
  /*Text*/
  --heading-font-size: 2rem;
  --body-font-size: 1rem;
  /*Font Weight*/
  --font-weight-bold: bold;
  --font-weight-medium: 500;
  /*spacing*/
  --small-spacing: 0.5rem;
  --medium-spacing: 1rem;
  --large-spacing: 1.5rem;
  --extra-large-spacing: 2.625rem;
}

body {
  background-color: var(--primary-Color);
}

section {
  min-height: 100vh;
}

.modal-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--large-spacing);
  background-color: var(--general-color);
  border: none;
  overflow-y: auto;
  max-height: 90vh;
}

.modal-screen .modal-screen__header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--small-spacing);
}

.modal-screen .modal-screen__header .modal-screen__title {
  font-size: var(--body-font-size);
  font-family: header;
  font-weight: var(--font-weight-bold);
  color: var(--secondary-color);
  text-align: center;
}

.modal-screen .modal-screen__list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: var(--medium-spacing);
  list-style: none;
  width: 100%;
  max-height: 70vh;
  overflow-y: auto;
}

.modal-screen .modal-screen__list .modal-screen__list-item {
  padding: var(--small-spacing);
  font-size: var(--body-font-size);
  font-family: body;
  font-weight: normal;
  color: var(--secondary-color);
}

.modal-screen .modal-screen__close-btn {
  width: 100%;
  text-align: center;
  background-color: var(--accent-color);
  padding: var(--small-spacing);
  font-size: 24px;
  font-family: body;
  font-weight: var(--font-weight-bold);
  color: var(--general-color);
  border: none;
  transition: all ease-in 0.3s;
}

main .quiz-screen,
main .result-screen {
  display: none;
}

main .splash-screen.is-hidden {
  display: none;
}

main .quiz-screen.is-hidden {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--large-spacing);
}

@media only screen and (max-width: 767px) {
  .splash-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--large-spacing);
  }

  .splash-screen .splash-screen__logo {
    width: 200px;
  }

  .splash-screen .splash-screen__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--medium-spacing);
    width: 320px;
  }

  .splash-screen .splash-screen__header .splash-screen__quiz-title {
    font-family: header;
    color: var(--general-color);
    text-align: center;
    font-size: var(--heading-font-size);
  }

  .splash-screen .splash-screen__header .splash-screen__tagline {
    font-family: body;
    color: var(--general-color);
    font-size: var(--body-font-size);
    font-weight: 400;
  }

  .splash-screen .splash-screen__header .splash-screen__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--extra-large-spacing);
    list-style: none;
    width: 100%;
  }

  .splash-screen
    .splash-screen__header
    .splash-screen__list
    .splash-screen__list-item {
    padding: var(--small-spacing);
  }

  .splash-screen
    .splash-screen__header
    .splash-screen__list
    .splash-screen__list-item
    a {
    display: inline-block;
    padding: var(--small-spacing);
    text-align: center;
    color: var(--general-color);
    font-family: body;
    font-size: var(--body-font-size);
    text-decoration: none;
    width: 109px;
    font-weight: var(--font-weight-bold);
  }

  .splash-screen
    .splash-screen__header
    .splash-screen__list
    .splash-screen__list-item
    .splash-screen__primary-cta {
    background-color: var(--accent-color);
  }

  .splash-screen
    .splash-screen__header
    .splash-screen__list
    .splash-screen__list-item
    .splash-screen__secondary-cta {
    border: 2px solid var(--general-color);
  }
}

@media only screen and (min-width: 768px) {
  .splash-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--large-spacing);
  }

  .splash-screen .splash-screen__logo {
    width: 250px;
  }

  .splash-screen .splash-screen__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--medium-spacing);
    width: 400px;
  }

  .splash-screen .splash-screen__header .splash-screen__quiz-title {
    font-family: header;
    color: var(--general-color);
    text-align: center;
    font-size: var(--heading-font-size);
  }

  .splash-screen .splash-screen__header .splash-screen__tagline {
    font-family: body;
    color: var(--general-color);
    font-size: var(--body-font-size);
    font-weight: 400;
  }

  .splash-screen .splash-screen__header .splash-screen__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--extra-large-spacing);
    list-style: none;
    width: 100%;
  }

  .splash-screen
    .splash-screen__header
    .splash-screen__list
    .splash-screen__list-item {
    padding: var(--small-spacing);
  }

  .splash-screen
    .splash-screen__header
    .splash-screen__list
    .splash-screen__list-item
    a {
    display: inline-block;
    padding: var(--small-spacing);
    text-align: center;
    color: var(--general-color);
    font-family: body;
    font-size: var(--body-font-size);
    text-decoration: none;
    width: 109px;
    transition: all ease-in 0.3s;
    font-weight: var(--font-weight-bold);
  }

  .splash-screen
    .splash-screen__header
    .splash-screen__list
    .splash-screen__list-item
    .splash-screen__primary-cta {
    background-color: var(--accent-color);
  }

  .splash-screen
    .splash-screen__header
    .splash-screen__list
    .splash-screen__list-item
    .splash-screen__secondary-cta {
    border: 2px solid var(--general-color);
  }
}

@media only screen and (min-width: 1000px) {
  .splash-screen .splash-screen__logo {
    width: 310px;
  }

  .splash-screen .splash-screen__header {
    width: 500px;
  }

  .splash-screen
    .splash-screen__header
    .splash-screen__list
    .splash-screen__list-item
    a {
    width: 231px;
  }

  .splash-screen
    .splash-screen__header
    .splash-screen__list
    .splash-screen__list-item
    .splash-screen__primary-cta:hover {
    background-color: var(--hover-color);
    color: var(--secondary-Color);
  }

  .splash-screen
    .splash-screen__header
    .splash-screen__list
    .splash-screen__list-item
    .splash-screen__secondary-cta:hover {
    border: 2px solid var(--hover-color);
  }

  .modal-screen .modal-screen__close-btn:hover {
    background-color: var(--hover-color);
    color: var(--secondary-color);
  }
}
